/* ----------------------------------------*\
  Header
\* ---------------------------------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  padding-inline: calc(0.25rem + 5vw);
}

.container--large {
  max-width: 1400px;
}
