/* ----------------------------------------*\
  Sections
\* ---------------------------------------- */

.section {
  --section-title-color-underline: var(--color-base);
  --section-background-color: var(--color-white);

  padding-top: calc(1rem + 1vw);
  padding-bottom: calc(2rem + 1vw);
  background-color: var(--section-background-color);
}

.section--large {
  padding-top: calc(2rem + 1vw);
  padding-bottom: calc(2rem + 5vw);
}

.section__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-left: .25rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 800px) {
  .section__title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 50%;
    background-color: var(--section-title-color-underline);
  }
}

.section--love {
  --section-background-color: transparent;
  --section-title-color-underline: var(--color-pink-100);

  position: relative;
  overflow: hidden;
}

.section--love::before,
.section--love::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 3vw;
  z-index: -1;
  width: calc(400px + 20vw);
  height: 100%;
  background-color: var(--color-pink-50);
  transform: translateX(-12%) skew(3.5deg) scale(0.8);
  transform-origin: bottom left;
}

.section--love::after {
  transform: translateX(-88%) skew(2.5deg) scale(0.8);
  background-color: var(--color-pink-50);
}
