/* ----------------------------------------*\
  Sections
\* ---------------------------------------- */

.section {
  padding-top: calc(2rem + 1vw);
  padding-bottom: calc(2rem + 1vw);
}

.section__title {
  position: relative;
  display: inline-block;
  padding-left: .25rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.section__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: inline-block;
  height: 50%;
  background-color: var(--color-base);
}


/**
* Sizes
*/
.section-large {
  padding-top: calc(1rem + 1vw);
  padding-bottom: calc(2rem + 3vw);
}

/**
* Themes
*/
.section-positive {
  /* background-color: var(--color-green); */
  color: hsl(160, var(--saturation), 25%);
}

.section-positive a {
  color: hsl(160, var(--saturation), 25%);
}

.section-love {
  background-color: var(--color-pink);
  color: hsl(0, var(--saturation), 30%);
}
