/* ----------------------------------------*\
  Settings
\* ---------------------------------------- */

:root {
  --color-white: hsl(60, 100%, 100%);
  --color-black: hsl(180, 6%, 17%);
  --color-gray: hsl(40, 0%, 85%);
  --color-base: hsl(40, 75%, 95%);
  --color-blue: hsl(217, 91%, 60%);
  --color-pink-50: hsl(356, 100%, 97%);
  --color-pink-100: hsl(356, 100%, 95%);
  --color-pink-200: hsl(353, 96%, 90%);
  --color-pink-300: hsl(353, 96%, 82%);
  --color-pink-400: hsl(351, 95%, 71%);
  --color-pink-500: hsl(350, 89%, 60%);
  --color-pink-600: hsl(347, 77%, 50%);
  --color-pink-700: hsl(345, 83%, 41%);
  --color-pink-800: hsl(343, 80%, 35%);
  --color-pink-900: hsl(342, 75%, 30%);
  --base-background: var(--color-white);

  color: var(--color-black);
  background-color: var(--base-background);
}
