/* ----------------------------------------*\
  Base
\* ---------------------------------------- */

html {
  font-size: min(max(1rem, 4vw), 22px);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 2.5em;
}

h1,
.text-h1 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  max-width: none;
}

h2,
.text-h2 {
  line-height: 1.4;
}

a {
  color: var(--color-black);
}

p {
  max-width: 34em;
}

blockquote {
  margin-left: 0;
}

small {
  font-size: 0.75rem;
  font-weight: bold;
}

p code {
  padding: 0.1em 0.5em;
  font-size: 0.85rem;
  font-weight: bold;
  background-color: var(--color-gray);
  border-radius: 0.4em;
}

::selection {
  color: var(--color-black);
  background: var(--color-base);
}
