/* ----------------------------------------*\
  Shame
\* ---------------------------------------- */


/**
* Codepen and syntax highligher
*/
.nuxt-content-highlight,
.cp_embed_wrapper {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.nuxt-content-highlight pre {
  font-size: var(--text-sm);
}
